{% extends 'base.html' %}
{% block title %}
Create Exhibit
{% endblock %}
{% block content %}
<div class="body-container">
    <div class="inner-container">
        <i class="fa-solid fa-palette"></i>
        <h3>Add an Exhibit</h3>
        <div class="form-container">
            <form method="POST" action="{{ url_for('add_exhibit', username=current_user.username) }}">
                <div class="input-field">
                    <label for="name" class="label">Name:</label>
                    <input type="text" name="name" class="input" placeholder="Enter name of exhibit" required>
                </div>
                
                <div class="input-field">
                    <label for="description" class="label">Description:</label>
                    <textarea name="description" class="input text-area" placeholder="Add a brief description about the exhibition" required></textarea>
                </div>
                
                <div class="input-field">
                    <label for="start_datetime" class="label">Start Date and Time:</label>
                    <input type="datetime-local" name="start_datetime" class="input" required>
                </div>

                <div class="input-field">
                    <label for="end_datetime" class="label">End Date and Time:</label>
                    <input type="datetime-local" name="end_datetime" class="input" required>
                </div>

                <div class="button-field">
                    <button type="submit" class="btn-log">Create Exhibit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}