<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
		<link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/notifications.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/popup.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/artworks.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/exhibits.css') }}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <script src="https://kit.fontawesome.com/da1651000a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            {% if current_user.is_authenticated %}
            <i class="fa-solid fa-bars" id="menu-bar"></i>
            {% endif %}
            <a href="{{ url_for('view_artworks') }}" id="head-title">PixelPallete</a>
            <a href="{{ url_for('view_artworks') }}" class="menu-items">Artworks</a>
            <a href="{{ url_for('exhibits') }}" class="menu-items">Exhibits</a>
            <a href="{{ url_for('artists_page') }}" class="menu-items">Artists</a>
			{% if current_user.is_authenticated %}
            <h4>Hi @{{ current_user.username }}!</h4>
			<a href="{{ url_for('cart', username=current_user.username, id=current_user.cart.id) }}">
				<i class="fa-solid fa-star"></i>
			</a>
            <a href="{{ url_for('user_logout') }}" class="menu-items">Logout</a>
            {% else %}
            <a class="menu-items" href="{{ url_for('create_user') }}">Sign Up</a>
            <a class="menu-items" href="{{ url_for('user_login') }}">Login</a>
			{% endif %}
            <a class="menu-items" href="#">About</a>
            <a class="menu-items" href="#">Contact</a>
            
            {% include "header.html" %}
            {% include "popupdelete.html" %}
        </header>
        <main>
            <form action="{{ url_for('search_function') }}" method="POST" class="search">
                <input type="text" name="search-word" placeholder="Enter name of artwork to search">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="notification {{ category }}">
                <h3>{{ message }}</h3>
                <button class="close">&times;</button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}

            {% endblock %}
        </main>
        <script src="{{ url_for('static', filename='js/script.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/notifications.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/artworks.js' ) }}"></script>
        <script src="{{ url_for('static', filename='js/exhibits.js' ) }}"></script>
    </body>
</html>
