{% extends 'base.html' %}
{% block title %}
Create account
{% endblock %}
{% block content %}
<div class="body-container">
    <div class="user-cont">
        <i class="fa-solid fa-user"></i>
        <h3>Create Account</h3>
        <div class="user-details">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.username.label() }}
                {{ form.username(placeholder="Enter username") }}
                <br>
                {{ form.first_name.label() }}
                {{ form.first_name(placeholder="Enter your first name") }}
                <br>
                {{ form.last_name.label() }}
                {{ form.last_name(placeholder="Enter your last name") }}
                <br>
                {{ form.email_address.label() }}
                {{ form.email_address(placeholder="Enter your Email Address") }}
                <br>
                {{ form.category.label() }}
                {{ form.category() }}
                <br>
                {{ form.password1.label() }}
                {{ form.password1(placeholder="Enter password") }}
                <br>
                {{ form.password2.label() }}
                {{ form.password2(placeholder="Confirm password") }}
                <br>
                <h4>Already have an account?</h4>
                <a href="{{ url_for('user_login') }}">Login</a>
                <br>
                {{ form.submit }}
            </form>
        </div>
    </div>
</div>
{% endblock %}