{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}
{% block content %}
<div class="body-container">
    <h2>Discover, Collect, Create: Art in the Digital Realm</h2>
    <p>
        Welcome to PixelPalette – a digital realm where art comes to life.
        Our platform is your gateway to a world of artistic wonders, offering
        a unique fusion of exhibitions, art displays, and the opportunity to
        collect and create digital masterpieces. At PixelPalette, we bridge
        the gap between art lovers and talented creators, providing a vibrant
        space for artists to showcase their work while offering enthusiasts a
        chance to explore, buy, and even create their own art. Immerse yourself
        in a virtual gallery that hosts a diverse collection of artworks, from
        classic to contemporary, and discover the stories behind each creation.
        Whether you're an art aficionado or a budding enthusiast, PixelPalette
        is here to inspire, engage, and elevate your digital art experience.
        Start your journey today by exploring our exhibitions, discovering captivating
        artwork, and even adding a unique piece to your collection. Welcome to the
        PixelPalette family, where art knows no bounds.
    </p>
    
    <div class="button-container">
        <a href="{{ url_for('exhibits')}}" class="button">View Exhibitions</a>
        <a href="{{ url_for('view_artworks') }}" class="button">View Artworks</a>
    </div>
</div>
{% endblock %}
