{% extends 'base.html' %}
{% block title %}
Exhibits
{% endblock %}
{% block content %}

<div class="exhibit-container">
    <div>

        {% if exhibit %}
        <h4>{{ exhibit.name }}</h4>
        <h4>{{ exhibit.description }}</h4>
        <div class="artwork-wrapper" id="artwork-wrapper">
            <i class="fa-solid fa-chevron-left fa-2x" id="prev-button"></i>
            <i class="fa-solid fa-chevron-right fa-2x" id="next-button"></i>
            <div class="slides">
            {% for exhibit_artwork in exhibit.exhibit_artworks %}
            <div class="slide">
                <div class="slides-info">
                    <h4>{{ exhibit_artwork.artwork.title }}</h4>
                    <h4>{{ exhibit_artwork.artwork.description }}</h4>
                    <h4>{{ exhibit_artwork.artwork.price }}</h4>
                </div>
                <img src="{{ exhibit_artwork.artwork.artwork_url }}" >
            </div>
            {% endfor %}
            </div>
            <div class="artwork-indicators" id="artwork-indicators">
                {% for _ in exhibit.exhibit_artworks %}
                <span class="indicator"></span>
                {% endfor %}
            </div>
        </div>
        
        {% endif %}
    </div>
</div>


{% endblock %}